/* Start control */
.control {
    background-image: url('../image/sky2.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    padding-bottom: 5vh;
}

.control h3~p {
    border: 1px solid #373737;
    padding: 2vh;
    border-radius: 5px;
    position: relative;
    color: #FFF;
}

.control p i {
    position: absolute;
    right: 2vh;
    font-size: 3vmin;
    color: #004085;
    cursor: pointer;
}

.control .control-ba {
    position: relative;
    padding: 2vmin 4vmin;
    background-color: #466795;
    box-shadow: 5px 5px 8px #272727;
    border-radius: 5px;
    margin-bottom: 5vh;
    background-color: #FFF;
}


.control .control-ba i {
    position: absolute;
    top: 2vmin;
    right: 2vmin;
    border: 1px solid #2e4664;
    padding: 2vmin;
    color: #FFF;
    background: #2e4664;
    border-radius: 5px;
}
.con-history{
    color: #FFF;
    background: #466795;
    display: inline-block;
    margin-bottom: 3vh;
    padding: 1vmin;
    cursor: pointer;
    margin-right: 5vh;
    border-radius: 5px;
}
.con-history:hover{
    text-decoration: none;
    color: #FFF;
}

 .control-table {
    overflow-x: auto;
    background: #466795;
}

 table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

 th {
    color: #103e57;
    font-size: 3vmin;
}

 th,
td {
    text-align: left;
    padding: 10px;
    font-weight: 500;
}
 th{
    color: white;
    font-weight: 700;
}


/* End Control */

/* Start investments */
.investments {
    background-image: url('../image/cell.png');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.investments .row {
    justify-content: space-around;
}

.investments .card {
    width: 22%;
    background-color: rgba(0, 14, 27, .8);
    color: #CCC;
    border: 1px solid #103e57;
    padding: 5vmin;
    position: relative;
    transition: .5s;
}

.investments .card .card-header {
    color: #7ba6e2;
    margin-bottom: 2vmin;
}

.investments .card ul li {
    border-bottom: 1px solid #CCC;
    margin-bottom: 4vmin;
}

.investments .card p {
    margin-bottom: 5vmin;

}

.investments .card button {
    position: absolute;
    bottom: 2vmin;
    width: 50%;
    right: 50%;
    justify-content: center;
    left: 25%;
}
/* End Investments*/

/* Start Deposit & Withdraw*/
.deposit {
    background-image: url('../image/sky.jpg');
    min-height: 100vh;
    background-size: cover;
}

.deposit .card {
    background-color: rgba(0, 0, 0, 1);
    color: #FFF;
    box-shadow: 5px 5px 8px #272727;
}

.deposit img {
    height: 100%;
    padding: 1vmin;
    border-radius: 35px;
}

.deposit h5 {
    line-height: 2.1;
}

.deposit h5~a {
    background-color: #466795;
    border: 0;
    cursor: pointer;
    color: #FFF;
    font-weight: 600;
    width: 60%;
}

/* End Deposit & Withdraw*/
/* Start Deposit Details & Withdraw Details */
.details {
    background-image: url('../image/sky.jpg');
    min-height: 100vh;
    background-size: cover;
}

.details .card {
    width: 60%;
    margin: auto;
    padding: 3vh;
    box-shadow: 10px 10px 10px #151515;
    background: #000;
    font-size: 3vmin;
    color: aliceblue;
}

.details .card span {
    color: #28a745;
    font-weight: 800;
}

.details .card input {
    margin-bottom: 2vh;
    outline: none;
    width: 80%;
    background: transparent;
    border: 1px solid #797979;
    color: #FFF;
}

.details .card .waste {
    color: cadetblue;
    font-weight: 800;
}

.details .card .put-img {
    background: #28a745;
    padding: 1vh;
    border-radius: 5px;
}

.details .card .preview {
    border: 1px solid #CCC;
    width: 25%;
    height: 20vh;
    margin-bottom: 3vh;
    border-radius: 4px;
}

.details .card .preview img {
    width: 100%;
    height: 20vh;
    padding: 1px;
}

#image_uploads {
    display: none;
}

/* End DepositerDetails & Withdraw Details */

/* Start  History */
.history{
    background-image: url('../image/sky.jpg');
    min-height: 100vh;
    background-size: cover;
}
.history-button{
    padding: 1vh;
    color: #FFF;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 3vh;
    text-decoration: none;
    background-color: #466795;
}
.history-button:hover{
    color: #FFF;
}
 .control-table p{
    margin: 0;
}
 .control-table span{
    color: #fff8f8;
    font-weight: 600;
}
 .control-table i{
    color: #ffc107;
}
.control-table h5{
    line-height: 2;
    font-size: 3vmin;
}
.status{
    color: #FFF !important;
    background: #28a745;
    text-align: center;
}
.Panding{
    color: #FFF !important;
    background: #ddd91a;
    text-align: center;
}
/* End  History */
/* Start Account */
  .login {
    background-image: url('../image/login&sign.jpg');
    background-size: cover;
    min-height: 100vh;
  }
  
  .login form {
    width: 30%;
    margin: 0 auto;
    border: 1px solid #CCC;
    border-radius: 5px;
    background: white;
  }
  .login form .log-header {
    padding: 4vh 0;
    background-color: aliceblue;
    font-weight: 600;
  }
  
  
  .login form input {
    border: 0;
    border-bottom: 1px solid #c5ccd3;
    width: 90%;
    border-radius: 0;
    margin: 0 auto;
    padding: 3vh;
  }

  .login form .log-footer button{
    width: 100%;
  }
  
/* End Account */
/* Start Modal */
.modal-content h4.head{
    color: #103e57;
}
.modal-content {
    margin-top: 15vh;
}

.modal-content h4 {
    color: #000;
    padding: 3vh;
    background: #beccd9;
    font-size: 5vmin;
}

.modal-content h4 span {
    font-weight: 800;
}

.modal-content h4 span.perfect {
    color: rgb(217 1 1);
}

.modal-content h4 span.lite {
    color: rgb(10, 87, 113);
}

.modal-content .modal-body .signup-popup {
    text-align: start;
    margin-top: 5vh;
    display: block;
}

.modal-content .modal-body .signup-popup label {
    font-size: 3vmin;
    font-weight: 500;
    color: #0c5460;
}

.modal-content .modal-body .signup-popup input,
.modal-content .modal-body .signup-popup select {
    padding: 1vh;
    outline: none;
    width: 95%;
    margin-bottom: 2vh;
}

.modal-content .modal-body .signup-popup i {
    font-size: 4vmin;
    display: inline-block;
    width: 2%;
    color: #103e57;
}

.modal-content .modal-body .signup-popup .modal-footer {
    margin-top: 5vh;
}

.modal-content .modal-body .signup-popup .modal-footer :first-child {
    color: #FFF;
    background: #28a745;
}

/* End Modal */
