/* Loading */
.center {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.wave {
  width: 15px;
  height: 100px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}

.wave:nth-child(2) {
  animation-delay: 0.1s;
}

.wave:nth-child(3) {
  animation-delay: 0.2s;
}

.wave:nth-child(4) {
  animation-delay: 0.3s;
}

.wave:nth-child(5) {
  animation-delay: 0.4s;
}

.wave:nth-child(6) {
  animation-delay: 0.5s;
}

.wave:nth-child(7) {
  animation-delay: 0.6s;
}

.wave:nth-child(8) {
  animation-delay: 0.7s;
}

.wave:nth-child(9) {
  animation-delay: 0.8s;
}

.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

/* Loading */

/* Start Home */
.home {
  background-image: url('../image/home.png');
  background-size: cover;
  min-height: 100vh;
}

.home .home-info {
  padding-top: 30vh;
  padding-left: 5vh;
  color: #FFF;
}

.home .home-info h1 {
  font-size: 8vmin;
}

.home .home-info p {
  margin-top: 2vh;
}

/* End Home */
/* Start About Us */
.about-us {
  background-image: url('../image/about-us.png');
  background-size: cover;
  min-height: 100vh;
  color: #b6b6b6;
  position: relative;
}

.about-us .overlay {
  padding-top: 10vh;
  overflow: auto;
}

.about-us .about-us-info {
  padding-left: 10vh;
}


/* End About Us */
/* Start plan */
.plans {
  background-image: url('../image/bubble2.png');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.plans .row {
  justify-content: space-around;
}

.plans .card {
  width: 22%;
  background-color: rgba(0, 14, 27, .8);
  color: #CCC;
  border: 1px solid #103e57;
  padding: 5vmin;
  position: relative;
  transition: .2s;
  margin-bottom: 2vh;
  transition: .5s;
}

.plans .card:hover {
  background-color: rgba(0, 14, 27, 1);
  border-color: #007bff ;

}


.plans .card .card-header {
  color: #7ba6e2;
  margin-bottom: 2vmin;
}

.plans .card ul li {
  margin-bottom: 4vmin;
}

.plans .card p {
  margin-bottom: 5vmin;

}

.plans .card a {
  position: absolute;
  bottom: 2vmin;
  width: 50%;
  right: 50%;
  justify-content: center;
  left: 25%;
  color: #FFF;
}

/* End Plan */
/* Start Note */
.notes {
  background-image: url('../image/notes.png');
  background-size: cover;
  min-height: 100vh;
  color: aliceblue;
  position: relative;
}

.notes p {
  margin-bottom: 5vh;
  color: #efdbdb;
}

.notes .note {
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 2vmin;
  margin-bottom: 1vh;
  background-color: rgba(16, 62, 87, .5);
}

.notes .note i {
  font-size: 4vmin;
  margin-right: 1vmin;
}

.notes .note span {
  font-size: 3vmin;
  font-weight: 700;
}

.notes .note p {
  margin-top: 3vh;
}

/* End Note */

/* Start FAQ */
.faq{
  background-image: url('../image/0.png');
  min-height: 100vh;
  background-size: cover;
}

.faq button {
  color: #68d7ff;
  font-size: 4vmin;
  text-decoration: none;
  white-space: normal;
  text-align: inherit;
}

.faq button:hover {
  text-decoration: none;
  cursor: pointer;
}

.faq .card {
  background-color: rgba(30, 33, 49, 0.9);
  color: #bcb6b6;
  border-bottom: 1px solid #565454;
  border: 0;
  margin-bottom: 5vmin;
  /* border-radius: 0%; */
  box-shadow: 1px 2px 5px #3a373b;
}

.faq .card .card-header i {
  float: right;
  text-decoration: none;
  cursor: pointer;
  color: #28a745;
  opacity: .5;
  font-size: 4vmin;
  text-align: end;
}

.faq .card .card-header i:hover {
  opacity: 1;
}

.faq .card-body b {
  color: #1abc1a;
  font-size: 3vmin;
}

.up:before {
  content: "\f077";
}

/*End FAQ*/
/* Start Calculator */
.calculator {
  background-image: url('../image/calculater.jpg');
  background-size: cover;
  min-height: 100vh;
  color: #FFF;
  position: relative;
}

.calculator p {
  margin-bottom: 5vh;
}

.calculator form {
  margin: auto;
  width: 80%;
  margin-top: 10vh;
  border: 1px solid #010810;
  padding: 10vmin;
  border-radius: 5px;
  background-color: rgb(227 213 200 / 10%);
}

.calculator form input,
.calculator form select {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: 1px solid #000;
  color: #FFF;
  padding: 5px;
}

.calculator form input::placeholder {
  color: #CCC;
  font-size: 3vmin;
  font-weight: 500;
}

.calculator form select {
  padding: 5px;
  font-size: 3vmin;
  font-weight: 500;
  color: #ccc;
  margin-bottom: 5vh;
  background-color: #0c5460;
}

/* End Calculator */
/* Start Contact Us */

.contact-us input {
  margin-bottom: 4vh;
  padding: 2vh;
  outline: none;
  border: 1px solid #CCC;
  border-radius: 10px;
}

.contact-us textarea {
  height: 20vh;
  margin-bottom: 5vh;
  padding: 2vh;
  outline: none;
  border: 1px solid #CCC;
  border-radius: 10px;
}

.contact-us img {
  margin-top: 6vh;
  width: 100%;
}

.contact-us span {
  font-size: 4vmin;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 5vh;
}

.contact-us a {
  font-size: 4vmin;
  color: #103e57;
  padding: 1vh;
}

/* End Contact Us */

/* Start LogIn & Sign Up*/
.login {
  background-image: url('../image/login&sign.jpg');
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 5vmin;
}

.login form {
  width: 30%;
  margin: 0 auto;
  border: 1px solid #CCC;
  border-radius: 5px;
  background: white;
}

.sign .overlay {
  padding-top: 8vh;
}

.login form .log-header {
  padding: 4vh 2vmin;
  background-color: aliceblue;
  font-weight: 600;
}

.login form .row {
  margin: 0;
  padding: 0 2vh;
}

.login form select {
  cursor: pointer;
  outline: none;
  border: 0;
  font-size: 2vmin;
  color: #1e7aa7;
  font-weight: 700;
}

.login form input {
  border: 0;
  border-bottom: 1px solid #c5ccd3;
  width: 90%;
  border-radius: 0;
  margin: 0 auto;
  padding: 3vh;
}

.login form .log-footer {
  margin-top: 5vh;
}

.login form .log-footer button {
  width: 50%;
}

.login form .log-footer a {
  width: 48%;
  background: #466795;
  border: 1px solid #466795;
}

.login form .log-footer a:hover {
  outline: none;
}

.login form p {
  padding: 0 3vh;
  margin-top: 2vh;
}

.login form p a {
  color: #28a745;
}

.forget-pas button {
  width: 100% !important;
}

/* End LogIn & Sign Up*/
/* Media*/
@media (max-width: 540px) {
  .about-us .overlay .about-us-info {
  margin-top: 0vh;
  }

}