/* Start control */
.control,
.referral {
    background-image: url('../image/bubble.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    padding-bottom: 5vh;
}

.control .referral-link{
    border: 2px solid #004085;
    color: #FFF;
    padding: 2vmin;
    border-radius: 5px;
}

.control .control-ba {
    position: relative;
    padding: 2vmin 4vmin;
    background-color: #466795;
    border-radius: 5px;
    margin-bottom: 5vh;
    background-color: rgb(255 255 255 / 80%);
    transition: .5s;
}
.control .control-ba:hover {
    background-color: rgb(255 255 255 / 100%);
    border: .5px solid #007bff;

}

.control .control-ba i {
    position: absolute;
    top: 2vmin;
    right: 2vmin;
    border: 1px solid #2e4664;
    padding: 2vmin;
    color: #FFF;
    background: #2e4664;
    border-radius: 5px;
}

.con-history {
    color: #FFF;
    background: #466795;
    display: inline-block;
    margin-bottom: 3vh;
    padding: 1vmin;
    cursor: pointer;
    font-size: 3vmin;
    margin-right: 5vh;
    border-radius: 5px;
}

.con-history:hover {
    text-decoration: none;
    color: #FFF;
}

.control-table {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 55vh;
    background: #86adcc;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th {
    color: #103e57;
    font-size: 3vmin;
}

th,
td {
    text-align: left;
    padding: 10px;
    font-weight: 500;
}

th {
    color: white;
    font-weight: 700;
}


/* End Control */

/* Start investments */
.investments {
    background-image: url('../image/bubble2.png');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.investments .row {
    justify-content: space-around;
}

.investments .card {
    width: 22%;
    background-color: rgba(0, 14, 27, .8);
    color: #CCC;
    border: 1px solid #103e57;
    padding: 5vmin;
    position: relative;
    transition: .5s;
    margin-bottom: 2vh;
}
.investments .card:hover{
    background-color: rgba(0, 14, 27, 1);
    border-color: #007bff ;
}

.investments .card .card-header {
    color: #7ba6e2;
    margin-bottom: 2vmin;
}

.investments .card ul li {
    margin-bottom: 4vmin;
}

.investments .card p {
    margin-bottom: 5vmin;
    margin-top: 2vmin;
}

.investments .card button {
    position: absolute;
    bottom: 2vmin;
    width: 50%;
    right: 50%;
    justify-content: center;
    left: 25%;
}

/* End Investments*/

/* Start Deposit & Withdraw*/
.deposit {
    background-image: url('../image/bubble.jpg');
    min-height: 100vh;
    background-size: cover;
}

.deposit .card {
    background-color: rgba(0, 0, 0, .8);
    color: #FFF;
    box-shadow: 5px 5px 8px #272727;
    transition: .5s;
}
.deposit .card:hover{
    background-color: rgba(0, 0, 0, 1);
    border-color: #007bff ;
}

.deposit img {
    height: 100%;
    padding: 1vmin;
    border-radius: 35px;
}

.deposit h5 {
    line-height: 2.1;
}

.deposit h5~a {
    background-color: #466795;
    border: 0;
    cursor: pointer;
    color: #FFF;
    font-weight: 600;
    width: 60%;
}
.deposit .last{
    margin: auto;
}
/* End Deposit & Withdraw*/
/* Start Deposit Details & Withdraw Details */
.details {
    background-image: url('../image/bubble.jpg');
    min-height: 100vh;
    background-size: cover;
}

.details .card {
    width: 60%;
    margin: auto;
    padding: 3vh;
    box-shadow: 10px 10px 10px #151515;
    background: #000;
    font-size: 3vmin;
    color: aliceblue;
}

.details .card .span {
    color: #28a745;
    font-weight: 800;
}

.details .card input {
    margin-bottom: 2vh;
    outline: none;
    width: 100%;
    background: transparent;
    border: 1px solid #797979;
    color: #FFF;
    font-size: 4vmin;
}

.details .card .wallet {
    color: cadetblue;
    font-weight: 800;
}
.details .qrwallet{
    border-radius: 10px;
    width: 50%;
    margin-bottom: 2vmin;
}

 .put-img {
    background: #28a745;
    padding: 1vh;
    border-radius: 5px;
    white-space: break-spaces;
}

  .preview {
    border: 1px solid #CCC;
    width: 25%;
    height: 20vh;
    margin-bottom: 3vh;
    border-radius: 4px;
}

  .preview img {
    width: 100%;
    height: 20vh;
    padding: 1px;
}

#image_uploads {
    display: none;
}

/* End DepositerDetails & Withdraw Details */

/* Start  History */
.history {
    background-image: url('../image/bubble.jpg');
    min-height: 100vh;
    background-size: cover;
}

.history-button {
    padding: 1vh;
    color: #FFF;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 3vh;
    text-decoration: none;
    font-size: 3vmin;
    background-color: #466795;
}

.history-button:hover {
    color: #FFF;
}

.control-table p {
    margin: 0;
}

.control-table span {
    padding: 5px;
    color: #fff8f8;
    font-weight: 600;
}

.control-table i {
    color: #004085;
    cursor: pointer;
}

.control-table h5 {
    line-height: 2;
    font-size: 3vmin;
}

.status {
    color: #FFF !important;
    background: #28a745;
    text-align: center;
    padding: 1vmin;
}

.Panding {
    color: #FFF !important;
    background: #ddd91a;
    text-align: center;
}

.Complete {
    color: #FFF !important;
    background: #11dd33;
    text-align: center;
}

.Canceled {
    color: #FFF !important;
    background: #db1212;
    text-align: center;
}

.Progress {
    color: #FFF !important;
    background: #0b0ff1;
    text-align: center;
}

/* End  History */
/* Start Account */
.login {
    background-image: url('../image/login&sign.jpg');
    background-size: cover;
    min-height: 100vh;
}

.login form {
    width: 30%;
    margin: 0 auto;
    border: 1px solid #CCC;
    border-radius: 5px;
    background: white;
}

.login form .log-header {
    padding: 4vh 0;
    background-color: aliceblue;
    font-weight: 600;
}


.login form input {
    border: 0;
    border-bottom: 1px solid #c5ccd3;
    width: 90%;
    border-radius: 0;
    margin: 0 auto;
    padding: 3vh;
}

.login form .log-footer button {
    width: 100%;
}

/* End Account */
/* Start Referral */
.referral {
    background-image: url('../image/bubble.jpg');
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 5vh;
    color: white;
}

.referral .users {
    justify-content: space-between;
}

.referral .users .user {
    margin: 5vmin auto;
    border: 1px solid #CCC;
    border-radius: 5px;
    width: 30%;
    padding-bottom: 2vmin;
    background-color: rgb(0 64 133 / 60%);
    transition: .5s;
}
.referral .users .user:hover {
    background-color: rgb(0 64 133 / 100%);
    border-color: #007bff ;
}


.referral .users i {
    font-size: 5vmin;
    color: #318ddd;
    padding: 3vmin;
    background: aliceblue;
    border-radius: 50%;
    position: relative;
    top: -26px;
}
.referral .users h5{
    overflow-wrap: anywhere;
}

@media (max-width: 991px) {
    .referral .users .user {
        width: 45%;
    }
    .investments .card:hover{
        width: 42% ;
    }
    .preview {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .referral .users .user {
        width: 90%;
    }
    .preview {
        width: 70%;
    }

}


@media (max-width: 540px) {

    .referral .users i {
        top: -15px;
        font-size: 10vmin;
    }
    .investments .card:hover{
        width: 92% ;
    }
    .control-table {
        max-height: 70vh;
    }
    .preview {
        width: 95%;
    }

}

/* End Referral */
/* Start Modal */
.modal-content h4.head {
    color: #103e57;
}

.modal-content {
    margin-top: 15vh;
}

.modal-content h4 {
    color: #000;
    padding: 3vh;
    background: #beccd9;
    font-size: 5vmin;
}

.modal-content h4 span {
    font-weight: 800;
}

.modal-content h4 span.perfect {
    color: rgb(217 1 1);
}

.modal-content h4 span.usdt {
    color: #28a745;
}
.modal-content h4 span.bitcoin {
    color: #bab611;
}
.modal-content h4 span.another {
    color: #ff9046;
}

.modal-content .modal-body .signup-popup {
    text-align: start;
    margin-top: 5vh;
    display: block;
}

.modal-content .modal-body .signup-popup label {
    font-size: 3vmin;
    font-weight: 500;
    color: #0c5460;
}

.modal-content .modal-body .signup-popup input,
.modal-content .modal-body .signup-popup select {
    padding: 1vh;
    outline: none;
    width: 95%;
    margin-bottom: 2vh;
    font-size: 3vmin;
    font-size: 3vmin;
}

.modal-content .modal-body .signup-popup i {
    font-size: 4vmin;
    display: inline-block;
    color: #103e57;
}


.modal-content .modal-body .signup-popup p {
    color: #004085;
    font-size: 5vmin;
    font-weight: 800;
}

.modal-content .modal-body .signup-popup .modal-footer {
    margin-top: 5vh;
}

.modal-content .modal-body .signup-popup .modal-footer :first-child {
    color: #FFF;
    border: 1px solid #28a745;
    background: #28a745;
}
label.put-img{
    margin-bottom: 3vmin;
    color: white !important;
}
label.put-img .fa-upload{
    color: white !important;
}
.last-modal{
    margin-top: 0;
    overflow-y: auto;
    height: 90vh;
    padding-top: 4vh;
}
.contact-telegram{
    width: 85% !important;
}
a .fa-telegram{
    width: 10%;
    margin-left: 5%;
}


/* End Modal */