* {
  box-sizing: border-box;
  font-family: Arial, Tahoma, sans-serif;
}

.container {
  max-width: 1400px;
}
body{
  margin: 0;
}
/* Loading */
.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}
 .wave {
  width: 15px;
  height: 100px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/* Loading */

/* Start Navbar */

.navbar {
  background-color: #010810;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000000000;
  padding: 0;
}

.navbar .navbar-brand img {
  width: 20vmin;
  margin-right: 2vmin;
}

.navbar .navbar-nav {
  margin-right: 15vh;
}

.navbar .navbar-nav .nav-link {
  font-size: 2.5vmin;
  margin-left: 1.5vh;
  color: #efdbdb;
  font-weight: bold
}

.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link:hover {
  color: #466795;
}

.navbar .navbar-toggler {
  background-color: #466795;
}

.navbar .navbar-toggler:hover {
  cursor: pointer;
  outline: none;
}

.navbar .navbar-nav i {
  font-size: 3vmin;
  margin-left: 2vh;
  border: 1px solid #466795;
  padding: -1px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* End Navbar */
/* Start Home */
.home {
  background-image: url('../image/notes.png');
  background-size: cover;
  min-height: 100vh;
}

.home .home-info {
  padding-top: 30vh;
  padding-left: 5vh;
  color: #FFF;
}

.home .home-info h1 {
  font-size: 8vmin;
}

.home .home-info p {
  margin-top: 2vh;
}

/* End Home */
/* Start About Us */
.about-us {
  background-image: url('../image/aboutUs.png');
  background-size: cover;
  min-height: 100vh;
  color: #b6b6b6;
  padding-top: 30vh;
}

.about-us .about-us-info {
  padding-left: 10vh;
}


/* End About Us */
/* Start plan */
.plans {
  background-image: url('../image/plans.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.plans .row {
  justify-content: space-between;
}

.plans .card {
  width: 22%;
  background-color: rgba(0, 14, 27, .8);
  color: #CCC;
  border: 1px solid #103e57;
  padding: 5vmin;
  position: relative;
  transition: .5s;
  cursor: pointer;
}

.plans .card .card-header {
  color: #7ba6e2;
  margin-bottom: 2vmin;
}

.plans .card ul li {
  border-bottom: 1px solid #CCC;
  margin-bottom: 4vmin;
}

.plans .card p {
  margin-bottom: 5vmin;

}

.plans .card button {
  position: absolute;
  bottom: 2vmin;
  width: 50%;
  right: 50%;
  justify-content: center;
  left: 25%;
}

/* End Plan */
/* Start Note */
.notes {
  background-image: url('../image/notes.png');
  background-size: cover;
  min-height: 100vh;
  color: aliceblue;
  position: relative;
}

.notes p {
  margin-bottom: 5vh;
  color: #efdbdb;
}

.notes .note {
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 2vmin;
  margin-bottom: 1vh;
  background-color: rgba(16, 62, 87, .5);
}

.notes .note i {
  font-size: 4vmin;
  margin-right: 1vmin;
}

.notes .note span {
  font-size: 3vmin;
  font-weight: 700;
}

.notes .note p {
  margin-top: 3vh;
}

/* End Note */
/* Start Calculator */
.calculator {
  background-image: url('../image/calculater.jpg');
  background-size: cover;
  min-height: 100vh;
  color: #FFF;
  position: relative;
}

.calculator p {
  margin-bottom: 5vh;
}

.calculator form {
  margin: auto;
  width: 80%;
  margin-top: 10vh;
  border: 1px solid #010810;
  padding: 10vmin;
  border-radius: 5px;
  background-color: rgb(227 213 200 / 10%);
}

.calculator form input,
.calculator form select {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: 1px solid #000;
  padding: 5px;
}

.calculator form input::placeholder {
  color: #FFF;
  font-size: 3vmin;
  font-weight: 500;
}

.calculator form select {
  padding: 5px;
  font-size: 3vmin;
  font-weight: 500;
  color: #FFF;
  margin-bottom: 5vh;
  background-color: #0c5460;
}

/* End Calculator */
/* Start Contact Us */
.contact-us{
  margin-top: 20vh;
}
.contact-us input{
  margin-bottom: 4vh;
  padding: 2vh;
  outline: none;
  border: 1px solid #CCC;
  border-radius: 10px;
}
.contact-us textarea{
  height: 20vh;
  margin-bottom: 5vh;
  padding: 2vh;
  outline: none;
  border: 1px solid #CCC;
  border-radius: 10px;
}
.contact-us img{
  margin-top: 6vh;
  width: 100%;
}
.contact-us span{
  font-size: 4vmin;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 5vh;
}
.contact-us a {
  font-size: 4vmin;
  color: #103e57;
  padding: 1vh;
}
/* End Contact Us */

/* Start LogIn & Sign Up*/
.login {
  background-image: url('../image/login&sign.png');
  background-size: cover;
  min-height: 100vh;
}

.login form {
  width: 30%;
  margin: 0 auto;
  border: 1px solid #CCC;
  border-radius: 5px;
  background: white;
  margin-top: 15vh;
}

.login form .log-header {
  padding: 4vh 0;
  background-color: aliceblue;
  font-weight: 600;
}

.login form .row {
  margin: 0;
  padding: 0 2vh;
}

.login form select {
  cursor: pointer;
  outline: none;
  border: 0;
  font-size: 2vmin;
  color: #1e7aa7;
  font-weight: 700;
}

.login form input {
  border: 0;
  border-bottom: 1px solid #c5ccd3;
  width: 90%;
  border-radius: 0;
  margin: 0 auto;
  padding: 3vh;
}
.login form .log-footer {
  margin: 0;
  margin-top: 5vh;
  position: relative;
}
.login form .log-footer button{
  width: 50%;
}
.login form .log-footer a{
  width: 48%;
  background: #466795;
  border: 1px solid #466795;
}
.login form .log-footer a:hover{
  outline: none;
}

.login form p {
  padding: 0 3vh;
  margin-top: 2vh;
}
.login form p a {
  color: #28a745;
}

/* End LogIn & Sign Up*/
/* Start Deposit & Withdraw*/
.deposit {
  margin-top: 25vh;
}

.deposit .card {
  background-color: rgba(0, 0, 0, 1);
  color: #FFF;
  box-shadow: 12px 9px 3px #CCC;
  cursor: pointer;
}

.deposit img {
  height: 100%;
  padding: 1vmin;
}
.deposit h5 {
  line-height: 2.1;
}

.deposit a {
  background-color: #466795;
  border: 0;
  cursor: pointer;
  width: 60%;
  color: #FFF;
  font-weight: 600;
}

/* End Deposit & Withdraw*/
/* Start DepositerDetails */
.details{
  background-image: url('../image/sky.jpg');
  min-height: 100vh;
  background-size: cover;
  padding-top: 15vh;
}
.details .card{
  width: 60%;
  margin: auto;
  padding: 3vh;
  box-shadow: 10px 10px 10px #151515;
  background: #000;
  font-size: 3vmin;
  color: aliceblue;
}
.details .card span{
  color: #28a745;
  font-weight: 800;
}
/* End DepositerDetails */
/* Start control */
.control {
  margin-top: 20vh;
}
.control h3~p{
  border: 1px solid #373737;
  padding: 1vh 2vh;
  border-radius: 5px;
  color: #FFF;
  background: #7a7875;
  position: relative;
}
.control p i{
  position: absolute;
    right: 2vh;
    font-size: 3vmin;
    color: #000;
    cursor: pointer;
}
.control .control-ba {
  position: relative;
  padding: 2vmin 4vmin;
  background-color: #466795;
  box-shadow: 5px 5px 8px #666565;
  border-radius: 5px;
  margin-bottom: 5vh;
}

.control .control-ba h2 {
  color: #FFF;
}

.control .control-ba i {
  position: absolute;
  top: 2vmin;
  right: 2vmin;
  border: 1px solid #0c5460;
  padding: 2vmin;
  color: #0c5460;
  background: #fff;
  border-radius: 5px;
}
.control .control-table{
  overflow-x:auto
}
.control table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
.control  th{
  color: #103e57;
  font-size: 3vmin;
}
.control  th, td {
  text-align: left;
  padding: 8px;
}
.control tr:nth-child(even){background-color: #f2f2f2}


/* End Control */
/* Start FramWork */
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(3, 31, 47, 0.8);
}

.header {
  margin-bottom: 5vh;
  color: #466795;
  font-size: 8vmin;
}

.padding-top {
  padding-top: 15vh;
}

.padding-botton {
  padding-bottom: 8vh;
}
.btn{
  cursor: pointer;
}
.pointer{
  position: fixed;
  bottom: 5vmin;
  right: 5vmin;
  width: 5vmin;
  height: 5vmin;
  line-height: 5vmin;
  text-align: center;
  border-radius: 50%;
  background-color: #466795;
  color: #fff;
  font-size: 2vmin;
  z-index: 222222;
  cursor: pointer;
}

#scroll-top {
  display: none;
}
.color{
  color: #466795;
}
/* Start Modal */
.modal-content{
  margin-top: 20vh;
}
.modal-content h4{
  color: #000;
  padding: 3vh;
  background: #beccd9;
  font-size: 5vmin;
}
.modal-content h4 span{
  font-weight: 800;
}
.modal-content h4 span.perfect{
  color: rgb(217 1 1);
}
.modal-content h4 span.lite{
  color: rgb(10, 87, 113);
}
.modal-content .modal-body .signup-popup{
  text-align: start;
    margin-top: 5vh;
    display: block;
}
.modal-content .modal-body .signup-popup label{
  font-size: 3vmin;
  font-weight: 600;
  color: #0c5460;
}
.modal-content .modal-body .signup-popup input{
  padding: 1vh;
  outline: none;
  width: 95%;
}
.modal-content .modal-body .signup-popup i{
  font-size: 4vmin;
  display: inline-block;
  width: 2%;
  color: #103e57;
}
.modal-content .modal-body .signup-popup .modal-footer{
  margin-top: 5vh;
}
.modal-content .modal-body .signup-popup .modal-footer a{
  color: #FFF;
    background: #28a745;
}
/* End Modal */
/* End FramWork */
/* Media */
@media (max-width: 991px) {
  .login form {
    width: 70%;
  }

  .navbar .navbar-nav .nav-item a {
    font-size: 3vmin;
  }

  .navbar .navbar-nav i {
    margin: 2vmin;
  }

  .home .home-info {
    padding-left: 2vh;
  }

  .about-us {
    padding-top: 15vh;
  }

  .about-us .about-us-info {
    padding-left: 0;
    text-align: center;
  }

  .plans .card {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 2vh;
  }

  .calculator form select,
  .calculator form input {
    margin-bottom: 2vh;
  }
  .contact-us span{
    font-size: 2.5vmin;
  }
  .btn-success {
    font-size: 3vmin;
  }

  .lead {
    font-size: 3vmin;
  }
}

/* Media */
@media (max-width: 768px) {
  .contact-us span{
    font-size: 4vmin;
  }
  .contact-us{
    margin-top: 8vh;
  }
  .contact-us img{
    display: block;
    margin: 5vh auto;
  }
  .deposit .card {
    width: 70%;
    margin: auto;
  }

  .deposit .card img {
    width: 100%;
  }
}

/* Media */
@media (max-width: 540px) {
  .login form select {
    font-size: 4vmin;
  }

  .home,
  .about-us,
  .calculator {
    min-height: 70vh;
  }

  .plans .card {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2vh;
  }

  .plans .card p {
    margin-bottom: 15vmin;
  }

  .notes .note {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2vh;
  }

  .calculator {
    padding-bottom: 3vh;
  }

  .calculator h1 {
    padding-top: 10vh;
  }

  .calculator form select {
    margin-bottom: 0;
  }

  .deposit,
  .control {
    margin-top: 12vh;

  }

  .deposit .card {
    width: 90%;
  }

}

/* Media */
@media (max-width: 410px) {
  .login form {
    width: 90%;
  }

  .plans .card ul li {
    margin-bottom: 10vmin;
  }
  .calculator form select {
    margin-bottom: 1vh;
}

}
