/* Start Deposit & Withdraw*/
.deposit {
    background-image: url('../image/sky.jpg');
    min-height: 100vh;
    background-size: cover;
}

.deposit .card {
    background-color: rgba(0, 0, 0, 1);
    color: #FFF;
    box-shadow: 5px 5px 8px #272727;
    cursor: pointer;
}

.deposit img {
    height: 100%;
    padding: 1vmin;
}

.deposit h5 {
    line-height: 2.1;
}

.deposit h5~a {
    background-color: #466795;
    border: 0;
    cursor: pointer;
    color: #FFF;
    font-weight: 600;
    width: 60%;
}

/* End Deposit & Withdraw*/
/* Start DepositerDetails */
.details {
    background-image: url('../image/sky.jpg');
    min-height: 100vh;
    background-size: cover;
}

.details .card {
    width: 60%;
    margin: auto;
    padding: 3vh;
    box-shadow: 10px 10px 10px #151515;
    background: #000;
    font-size: 3vmin;
    color: aliceblue;
}

.details .card span {
    color: #28a745;
    font-weight: 800;
}

.details .card input {
    margin-bottom: 2vh;
    outline: none;
    width: 80%;
    background: transparent;
    border: 1px solid #797979;
}

.details .card .waste {
    color: cadetblue;
    font-weight: 800;
}

.details .card .put-img {
    background: #28a745;
    padding: 1vh;
    border-radius: 5px;
}

.details .card .preview {
    border: 1px solid #CCC;
    width: 25%;
    height: 20vh;
    margin-bottom: 3vh;
    border-radius: 4px;
}

.details .card .preview img {
    width: 100%;
    height: 20vh;
    padding: 1px;
}

#image_uploads {
    display: none;
}

/* End DepositerDetails */
/* Start control */
.control {
    background-image: url('../image/sky.jpg');
    min-height: 100vh;
    background-size: cover;
}

.control h3~p {
    border: 1px solid #373737;
    padding: 2vh;
    border-radius: 5px;
    color: #FFF;
    position: relative;
}

.control p i {
    position: absolute;
    right: 2vh;
    font-size: 3vmin;
    color: #004085;
    cursor: pointer;
}

.control .control-ba {
    position: relative;
    padding: 2vmin 4vmin;
    background-color: #466795;
    box-shadow: 5px 5px 8px #272727;
    border-radius: 5px;
    margin-bottom: 5vh;
    background-color: #000;
    color: #ddd;
}

.control .control-ba h2 {
    color: #FFF;
}

.control .control-ba i {
    position: absolute;
    top: 2vmin;
    right: 2vmin;
    border: 1px solid #2e4664;
    padding: 2vmin;
    color: #FFF;
    background: #2e4664;
    border-radius: 5px;
}

 .control-table {
    overflow-x: auto;
}

 table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

 th {
    color: #103e57;
    font-size: 3vmin;
}

 th,
td {
    text-align: left;
    padding: 8px;
    color: #317c42;
    font-weight: 500;
}
 th{
    color: white;
    font-weight: 700;
}

/* End Control */
/* Start investments */
.investments {
    background-image: url('../image/l.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.investments .row {
    justify-content: space-between;
}

.investments .card {
    width: 22%;
    background-color: rgba(0, 14, 27, .8);
    color: #CCC;
    border: 1px solid #103e57;
    padding: 5vmin;
    position: relative;
    transition: .5s;
    cursor: pointer;
}

.investments .card .card-header {
    color: #7ba6e2;
    margin-bottom: 2vmin;
}

.investments .card ul li {
    border-bottom: 1px solid #CCC;
    margin-bottom: 4vmin;
}

.investments .card p {
    margin-bottom: 5vmin;

}

.investments .card button {
    position: absolute;
    bottom: 2vmin;
    width: 50%;
    right: 50%;
    justify-content: center;
    left: 25%;
}
/* End Investments*/
/* Start History */
.history{
    background-image: url('../image/sky.jpg');
    height: 100vh;
    background-size: cover;
}
/* End History */
.modal-content h4.head{
    color: #103e57;
}
/* Start Withdraw History */
.withdraw-bottom{
    display: block;
    padding: 1vh;
    width: 20%;
    color: #FFF;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 3vh;
    text-decoration: none;
    background-color: #466795;
}
.withdraw-bottom:hover{
    color: #FFF;
}
.withdraw-now{
    background-image: url('../image/sky.jpg');
    height: 100vh;
    background-size: cover;
}
.withdraw-now .withdraw-table{
    width: 50%;
    margin: 0 auto;
    padding: 2vh 2vh 0;
    background-color: #333437;
    color: #FFF;
}
.withdraw-now .withdraw-table .col-6{
    border-bottom: 1px solid #CCC;
    padding-top: 1vh;
}
.withdraw-now .withdraw-table button{
    margin-bottom: 1vh;
    background-color: #fff900;
    color: #FFF
}
.withdraw-now .withdraw-table span{
    color: #28a745;
    font-weight: 700;
}
.withdraw-now .withdraw-table i{
    padding: 1vh;
    background: #6666a7;
    border-radius: 3px;
}
.colo{
    color: #ffe4c4;
}
/* End Withdraw History */
/* Start Modal */
.modal-content {
    margin-top: 15vh;
}

.modal-content h4 {
    color: #000;
    padding: 3vh;
    background: #beccd9;
    font-size: 5vmin;
}

.modal-content h4 span {
    font-weight: 800;
}

.modal-content h4 span.perfect {
    color: rgb(217 1 1);
}

.modal-content h4 span.lite {
    color: rgb(10, 87, 113);
}

.modal-content .modal-body .signup-popup {
    text-align: start;
    margin-top: 5vh;
    display: block;
}

.modal-content .modal-body .signup-popup label {
    font-size: 3vmin;
    font-weight: 500;
    color: #0c5460;
}

.modal-content .modal-body .signup-popup input,
.modal-content .modal-body .signup-popup select {
    padding: 1vh;
    outline: none;
    width: 95%;
    margin-bottom: 2vh;
}

.modal-content .modal-body .signup-popup i {
    font-size: 4vmin;
    display: inline-block;
    width: 2%;
    color: #103e57;
}

.modal-content .modal-body .signup-popup .modal-footer {
    margin-top: 5vh;
}

.modal-content .modal-body .signup-popup .modal-footer a {
    color: #FFF;
    background: #28a745;
}

/* End Modal */