
  /* Loading */
  .center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
  }
   .wave {
    width: 15px;
    height: 100px;
    background: linear-gradient(45deg, cyan, #fff);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
  }
  .wave:nth-child(2) {
    animation-delay: 0.1s;
  }
  .wave:nth-child(3) {
    animation-delay: 0.2s;
  }
  .wave:nth-child(4) {
    animation-delay: 0.3s;
  }
  .wave:nth-child(5) {
    animation-delay: 0.4s;
  }
  .wave:nth-child(6) {
    animation-delay: 0.5s;
  }
  .wave:nth-child(7) {
    animation-delay: 0.6s;
  }
  .wave:nth-child(8) {
    animation-delay: 0.7s;
  }
  .wave:nth-child(9) {
    animation-delay: 0.8s;
  }
  .wave:nth-child(10) {
    animation-delay: 0.9s;
  }
  
  @keyframes wave {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  /* Loading */

  /* Start Home */
  .home {
    background-image: url('../image/notes.png');
    background-size: cover;
    min-height: 100vh;
  }
  
  .home .home-info {
    padding-top: 30vh;
    padding-left: 5vh;
    color: #FFF;
  }
  
  .home .home-info h1 {
    font-size: 8vmin;
  }
  
  .home .home-info p {
    margin-top: 2vh;
  }
  
  /* End Home */
  /* Start About Us */
  .about-us {
    background-image: url('../image/aboutUs.png');
    background-size: cover;
    min-height: 100vh;
    color: #b6b6b6;
    padding-top: 30vh;
  }
  
  .about-us .about-us-info {
    padding-left: 10vh;
  }
  
  
  /* End About Us */
  /* Start plan */
  .plans {
    background-image: url('../image/cell.png');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
  }
  
  .plans .row {
    justify-content: space-between;
  }
  
  .plans .card {
    width: 22%;
    background-color: rgba(0, 14, 27, .8);
    color: #CCC;
    border: 1px solid #103e57;
    padding: 5vmin;
    position: relative;
    transition: .5s;
    cursor: pointer;
  }
  
  .plans .card .card-header {
    color: #7ba6e2;
    margin-bottom: 2vmin;
  }
  
  .plans .card ul li {
    border-bottom: 1px solid #CCC;
    margin-bottom: 4vmin;
  }
  
  .plans .card p {
    margin-bottom: 5vmin;
  
  }
  
  .plans .card a {
    position: absolute;
    bottom: 2vmin;
    width: 50%;
    right: 50%;
    justify-content: center;
    left: 25%;
    color: #FFF;
  }
  
  /* End Plan */
  /* Start Note */
  .notes {
    background-image: url('../image/notes.png');
    background-size: cover;
    min-height: 100vh;
    color: aliceblue;
    position: relative;
  }
  
  .notes p {
    margin-bottom: 5vh;
    color: #efdbdb;
  }
  
  .notes .note {
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 2vmin;
    margin-bottom: 1vh;
    background-color: rgba(16, 62, 87, .5);
  }
  
  .notes .note i {
    font-size: 4vmin;
    margin-right: 1vmin;
  }
  
  .notes .note span {
    font-size: 3vmin;
    font-weight: 700;
  }
  
  .notes .note p {
    margin-top: 3vh;
  }
  
  /* End Note */
  /* Start Calculator */
  .calculator {
    background-image: url('../image/calculater.jpg');
    background-size: cover;
    min-height: 100vh;
    color: #FFF;
    position: relative;
  }
  
  .calculator p {
    margin-bottom: 5vh;
  }
  
  .calculator form {
    margin: auto;
    width: 80%;
    margin-top: 10vh;
    border: 1px solid #010810;
    padding: 10vmin;
    border-radius: 5px;
    background-color: rgb(227 213 200 / 10%);
  }
  
  .calculator form input,
  .calculator form select {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: 1px solid #000;
    padding: 5px;
  }
  
  .calculator form input::placeholder {
    color: #CCC;
    font-size: 3vmin;
    font-weight: 500;
  }
  
  .calculator form select {
    padding: 5px;
    font-size: 3vmin;
    font-weight: 500;
    color: #ccc;
    margin-bottom: 5vh;
    background-color: #0c5460;
  }
  
  /* End Calculator */
  /* Start Contact Us */
  .contact-us{
    background-image: url('../image/l.jpg');
    min-height: 100vh;
  }
  .contact-us input{
    margin-bottom: 4vh;
    padding: 2vh;
    outline: none;
    border: 1px solid #CCC;
    border-radius: 10px;
  }
  .contact-us textarea{
    height: 20vh;
    margin-bottom: 5vh;
    padding: 2vh;
    outline: none;
    border: 1px solid #CCC;
    border-radius: 10px;
  }
  .contact-us img{
    margin-top: 6vh;
    width: 100%;
  }
  .contact-us span{
    font-size: 4vmin;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 5vh;
  }
  .contact-us a {
    font-size: 4vmin;
    color: #103e57;
    padding: 1vh;
  }
  /* End Contact Us */
  
  /* Start LogIn & Sign Up*/
  .login {
    background-image: url('../image/login&sign.jpg');
    background-size: cover;
    min-height: 100vh;
  }
  
  .login form {
    width: 30%;
    margin: 0 auto;
    border: 1px solid #CCC;
    border-radius: 5px;
    background: white;
  }
  .sign .overlay{
    padding-top: 8vh;
  }
  
  .login form .log-header {
    padding: 4vh 0;
    background-color: aliceblue;
    font-weight: 600;
  }
  
  .login form .row {
    margin: 0;
    padding: 0 2vh;
  }
  
  .login form select {
    cursor: pointer;
    outline: none;
    border: 0;
    font-size: 2vmin;
    color: #1e7aa7;
    font-weight: 700;
  }
  
  .login form input {
    border: 0;
    border-bottom: 1px solid #c5ccd3;
    width: 90%;
    border-radius: 0;
    margin: 0 auto;
    padding: 3vh;
  }
  .login form .log-footer {
    margin-top: 5vh;
  }
  .login form .log-footer button{
    width: 50%;
  }
  .login form .log-footer a{
    width: 48%;
    background: #466795;
    border: 1px solid #466795;
  }
  .login form .log-footer a:hover{
    outline: none;
  }
  
  .login form p {
    padding: 0 3vh;
    margin-top: 2vh;
  }
  .login form p a {
    color: #28a745;
  }
  
  /* End LogIn & Sign Up*/